@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Batang:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .defaultContainer {
    @apply container mx-auto xl:max-w-[1140px] px-3; 
  }
  .container{
    @apply px-1
  }
  .subTitle {
    @apply lg:text-3xl text-2xl tracking-wide;
  }
  .title {
    @apply lg:text-[54px] text-3xl tracking-wide;
  }
  .grayTitle {
    @apply uppercase text-xl tracking-wider text-textGray;
  }
}

.active {
  font-weight: 600;
}
.bannerHeight {
  @apply sm:min-h-[calc(100vh-50px)]
}
.aside-ul>a{
  @apply border-b border-neutral-400 p-1.5
}
.aside-ul>a:last-child{
  @apply border-0
}
.aside-ul .active{
  @apply text-amber-600
}
.swiper-button-next{
  @apply -right-[2px]
}
.swiper-button-prev{
  @apply -left-[2px]
}
.swiper-button-next, .swiper-button-prev{
  @apply text-bodyGray
}
.swiper-button-disabled{
  opacity: 0.10 !important;
}
.swiper{
 @apply px-7
}
.mySwiper {
  align-items: stretch;
}

.swiper-slide {
  display: flex; 
  flex-direction: column; 
  align-items: stretch; 
  @apply md:h-auto
}
.country-ul::-webkit-scrollbar{
  @apply w-2 border-l
}
.country-ul::-webkit-scrollbar-track{
  @apply bg-white
}
.country-ul::-webkit-scrollbar-thumb{
  @apply bg-bodyGray
}
.country-ul::-webkit-scrollbar-thumb:hover{
  @apply bg-textGray
}